.category-page {
  min-height: 100vh;
  padding: 80px 20px;
  text-align: center;

  background: radial-gradient(circle at center, #8b0c2e, #2a0008);
}

/* TITLE */
.category-page h1 {
  color: white;
  font-size: 42px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;

  padding: 0 150px;   /* left spacing */
  justify-content: flex-start; /* start from left */
}

.food-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 12px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  transition: all 0.3s ease;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

/* HOVER */
.food-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* IMAGE */
.food-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;

  border-radius: 12px;
}

/* TITLE */
.food-card h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #222;
  font-weight: 600;
}

/* PRICE */
.food-card p {
  color: #ff6600;
  font-weight: bold;
  margin-top: 5px;
}